---
import { ViewTransitions } from "astro:transitions"
import Temperature from "./temperature.astro";

import { Rocket } from "~/components/icons/rocket"
import Briefcase from "~/components/icons/briefcase.astro";

import Puzzle from "~/components/icons/puzzle.astro"
import CardScript from "~/components/card-script.astro";

import Sidebar from "~/components/sidebar.astro"

import Mobile from "./mobile.astro";

export type Props = {
	title: string;
	active: typeof menuItems[number]["key"];
}

const { title, active = "careers" } = Astro.props as Props;

const menuItems = [
	{
		label: "Careers",
		path: "/",
		key: "careers",
		icon: Briefcase
	},
	{
		label: "Projects",
		path: "/projects",
		key: "projects",
		icon: Puzzle
	},
	{
		label: "Notes",
		path: "/notes",
		key: "notes",
	}
]
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta property="og:image" content="https://res.cloudinary.com/khaya-zulu/image/upload/v1673126290/Screenshot_2023-01-07_at_23.18.02_s1grit.png" />
		<meta property="og:description" content="Upshot: The final or eventual outcome or..." />
		<meta property="og:title" content="KhayaOS" />
		<ViewTransitions />
	</head>
	<body>
		<!-- Mobile view -->
		<div class="h-screen bg-white bg-grid p-10 md:hidden">
			<div class="relative">
				<div class="text-center flex justify-center gap-5">
					<div class="text-italics">Loading...</div>
					<div class="overflow-hidden">
						<Rocket color="#273D59" size={18} />
					</div>
				</div>
				<Mobile />
			</div>
		</div>
		<div class="absolute left-0 top-0 bg-black hidden opacity-0 h-full w-full z-30 bg-overlay" />
		<!-- Desktop view -->
		<div 
			class:list={[
				"w-full hidden md:flex",
				active === "notes" && "bg-gradient-to-br from-black/10 to-black/20 backdrop-blur-lg"
			]}
		>
			<div class="h-screen w-60 flex py-4 pl-4">
				<Sidebar />
			</div>
			<main class:list={[
				"min-h-screen flex flex-col gap-8 flex-1 2xl:py-10 2xl:gap-10",
				active === "notes" ? "p-4" : "py-8"
			]}>
				{active !== "notes" && <Temperature />}
				<slot />
			</main>
		</div>
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Lato&family=ZCOOL+KuaiLe&display=swap');
	body {
		font-family: 'Lato', sans-serif;
	}

	.text-shadow {
		text-shadow: 0.6px 0.6px 1px #adadad;
	}

	.text-zcool {
		font-family: 'ZCOOL KuaiLe', sans-serif;
	}

	.gradient-background {
		background-image: radial-gradient(circle at center, #ffffff 0%, #cccccc 50%, #bbbbbb 75%, #aaaaaa 100%);
	}

	.bg-metal {
        /* background-image: url("https://www.transparenttextures.com/patterns/squared-metal.png"); */
		background-image: url("https://www.transparenttextures.com/patterns/fake-brick.png");
    }

	.bg-paper {
		background-image: url("https://www.transparenttextures.com/patterns/worn-dots.png");
	}

	.bg-rubber {
        background-image: url("https://www.transparenttextures.com/patterns/rubber-grip.png");
    }

	body {
		background-image: url("https://images.unsplash.com/photo-1526887593587-a307ea5d46b4?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
		background-size: cover;
    	background-position-y: 75%;
	}

	@layer {
		.window-blur, .white-blur {
			background: inherit;
			backdrop-filter: blur(8px);
			-webkit-backdrop-filter: blur(8px);

			@apply bg-[#DDD6CD]/40;
		}

		.white-blur {
			@apply bg-gradient-to-r from-white/10 to-white/0;
			/* @apply bg-white/60 */
		}

		.steal-border {
			background: linear-gradient(#fff, #fff) padding-box,
			linear-gradient(to left bottom, rgb(199, 210, 254), rgb(71, 85, 105), rgb(199, 210, 254)) border-box;
  			border: 2px solid transparent;
		}
	}
</style>

<CardScript />
