---
    import dayjs from "dayjs"

    const coords = {lat: 26.2041, long: 28.0473}
    const resp = await fetch(`https://api.openweathermap.org/data/2.5/weather?lat=${coords.lat}&lon=${coords.long}&appid=${import.meta.env.OPEN_WEATHER_API_KEY}&units=metric`)

    const { main: weather } = await resp.json()
---

<div class="flex justify-between px-10">
    <div class="flex gap-3">
        <div class="text-sm">{dayjs().format('dddd, DD MMM')}</div>
        <div class="text-sm">{weather.temp}<span class="text-primary">°</span> C Johannesburg, South Africa</div>
    </div>
     <div class="text-sm opacity-70">
        Photo by <a 
            href="https://unsplash.com/@jefferyho?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
            target="_blank"
            rel="noopener noreferrer"
            class="border-b-2 border-gray-800 hover:border-primary pt-1 transition"
        >
            Jeffery Ho</a> on <a href="https://unsplash.com/s/photos/workspace?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash
        </a>
    </div>
</div>