<div class="rounded-full h-3 w-3 bg-slate-600 bg-gradient-to-br from-slate-600 to-slate-400">
    <div class="rounded-full w-full h-full bg-metal bg-slate-200 -translate-y-1" />
</div>

<style>
    .bg-metal {
		/* background-image: radial-gradient(circle at center, #ffffff 0%, #cccccc 50%, #bbbbbb 75%, #aaaaaa 100%); */
        background-image: url("https://www.transparenttextures.com/patterns/gun-metal.png"); 
	}
</style>