<div class="bg-gradient-to-br from-[#6e5849] to-[#beb9b1] rounded outline-offset-4">
    <div class="bg-[#ddd6cd] border border-[#e5e7eb] rounded p-[2px] -translate-y-1">
        <div class="rounded-sm shadow-steal-inner-shadow border-t border-[#b5a89b] bg-[#d7d1c8]">
            <div class="flex p-1 gap-2">
                <div class="flex flex-col justify-between">
                    <div class="rounded-full bg-slate-300 h-3 w-3 gradient-background" />
                    <div class="rounded-full bg-slate-300 h-3 w-3 gradient-background" />
                </div>
                <div class="flex-1 py-2">Bio</div>
                <div class="flex flex-col justify-between">
                    <div class="rounded-full bg-slate-300 h-3 w-3 gradient-background" />
                    <div class="rounded-full bg-slate-300 h-3 w-3 gradient-background" />
                </div>
            </div>
        </div>
    </div>
</div>